.page {
  background-color: #f4f4f4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  min-width: 300px;
  border-radius: 17px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 24px;
  overflow-y: scroll;

  @media only screen and (max-width: 600px) {
    background-color: rgba(255, 255, 255, 0);
    width: calc(100% - 8px);
  }

  .testSet{
    .setTitle{
        margin-left: 12px;

        @media only screen and (max-width: 600px) {
          text-align: center;
        }
    }

    .tests{
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;
        }
    }
  }
}
