.page {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  min-width: 300px;
  border-radius: 17px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 24px;
  overflow-y: scroll;

  .timer{
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
